@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// responsive breakpoints
$mobileW: 1023px;
@mixin mobile() {
  @media screen and (max-width: $mobileW) {
    @content;
  }
}

//colors:
$primary: #51A3A3;
$secondary: #DD7373;

* {
  margin: 0;
  padding: 0;
}



html,
body {
  overflow: overlay;
  background-color: $primary;
}



#scene-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
}

.data {
  font-family: "Space Mono", monospace;
  position: relative;
  //color: white;
  z-index: 10;
  font-size: 2rem;

  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

